/*  la charte graphique pas encore les bonnes couleurs*/
 :root{
    --white-1: black;
    --white-2:#858484;
    --white-bg-nav: rgba(240, 248, 255, 0.495);
    --white-bg-1:#0082b7;
    --white-bg-2:linear-gradient(to left top, #1f368b, #005ead, #0082b7, #00a1ad, #00be9a, #4cbe71, #7eba43, #aeb100, #d28c04, #e26335, #dc3f5d, #bc3381);
    --white-bg-3: rgb(72, 155, 17);/* couleur de fond  */
    --white-color-2:#aeb100;
    --white-color-1:#e26335;
    --white-color-3:#333;
    --white-color-4:#00be9a;
    --white-color-5:#7eba43;
    --white-color-6:#d28c04;
    --white-border-boutton: #bc3381;
    --white-border:white;
} 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    background: grey;

    /* *padding option 1 */
    padding: 20px;

    /* * padding option 2 */
    /*padding: 20px 10px 5px 0;*/

    /* * padding option 3*/
    /* padding: 20px 10px 5px */
    /* 1° chiffre le haut, 2° chiffre gauche et droite, 3° chiffre le bas */

    /* * padding option 4*/
    /* padding: 20px 10px  */
    /* 1° chiffre le haut et bas et  2° chiffre gauche et droite */

}

.main{
    background: lightgrey;
}

.footer{
    background: gray;
}

.nav{
    width: 100%;
    text-align: center;
    /*border: 2px solid blue;*/
}

.nav a {
    display: flex;
    width: 100%;
    text-align: center;
    text-decoration: none;
    /*border: 2px solid red;*/
}

a{ 
    text-decoration: none;
}

p{
    padding: 0 0 1rem 0;
}


ul{
    padding-left: 2rem;
}

li{
    margin-bottom: 1rem;
}

/*  class utilitaire qui retire les puces des listes */
.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* correspond à la card positionner comme class utilitaire */
.category{
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    /*color: #5b6c78;*/
    /*border: solid 2px red;*/
}

.container{
    /*display: flex;*/
    padding:1rem 2rem;
}

.d-flex{
    display: flex; /*  les élements se mette les uns à coter des autres */
    align-content: center;
    justify-content:space-between;
}

/* pour les différentes grilles du site */
.grid{
    display: flex;
    flex-wrap: wrap; /* si les éléments dépassent ils vont à la ligne suivante */
    justify-content: center;
}

.grid__item{
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    padding: 1rem;
}

/* pour les écrans et ceux qui on une taille minimal de 750px */
@media screen and (min-width:750px){
    .container{
        max-width: 1800px; /* Normalement = 1200px Pour que le site ne s'étire pas à l'infini sur les très grands écrans ( PC portable 1800px)*/
        margin: 0 auto;
        padding:2rem;
    }
}

/* ************************************* pour le menu ******************************************** */

/*.portfolio{
    background: var(--white-bg-1);
}*/

.menu .grid__item{
    /*max-width: 33.3333%;*/
    max-width: 50%;
    /*margin-bottom: 0;*/
    margin: 0;
    opacity: 1;
    transition: all 1s ease; /* ne marche pas ici */
}

/* pas dans le code de la vidéo */
.menu .grid__item a {
    border: solid 1px var(--white-color-3);
}

/* ******************************** pour le Js *************************** */
.menu .grid__item.hide{
    opacity: 0;
    max-width: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.4s ease; /* ne marche pas ici */

    /*border: solid 2px rgb(173, 20, 184);*/
    /*border: solid 2px red;*/
}

/* class rajouter pour palier le bug */
.menu .grid_1{
    max-width: 70%; /* 33.3333% dans la vidéo */
    margin: 2rem;
    /*border: solid 2px red;*/
}

.menu-filters .grid__item{
    max-width: 50%;
    margin-bottom: 0;
}

/* onglet familles des projets */
.menu-filters a{
    color:var(--white-1);
    /*background: var (--white-color-3);*/
    background: var(--white-bg-1);
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
}

/* pour quand on click sur une famille de projet */
.menu-filters a.active{
    background: var(--white-color-4);
    color:var(--white-border);
}

/* petit écran */
@media screen and (max-width:749px) {
    .menu a{
        font-size: 1.4rem;
    }
}

/* grand écran */
@media screen and (min-width:750px) {
    .menu-filters .grid__item{
        /* taille des 4 onglet de projets */
        /*max-width: 80%;*/
        display: flex;
        max-width: 25%;
        margin: 0;
        /*border: solid 2px red;*/
    }

    /* class rajouter pour palier le bug */
    .menu .grid_1{
        max-width: 25%; /* 33.3333% dans la vidéo */
        margin: 2rem;
        /*border: solid 2px red;*/
    }
}

 /* card */
.card{
    background: var(--white-border);
    text-transform: uppercase;
    position: relative; /* Parent */
    box-shadow: 5px 5px 5px 0 var(--white-border-boutton);
    border: 1px solid var(--white-color-3);
    overflow: hidden;
}

.card img{
    width: 30.6rem;
    height: 15.6rem;
    overflow: hidden;
    /*border: solid 2px red;*/
}

.card__inner{
    padding: 2rem;
}

.card__title{
    margin: 0 0 1rem 0;
    font-size: 1.6rem;
}

/* **** le plus **** */
.card__overlay{
    background: rgba(0, 0, 0, 0.9);
    position: absolute; /* Enfant */
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    /*display: none;*/
    top:110%;
    transition: all 0.3s;
    /*border:solid 2px blueviolet;*/
}

.card__overlay a{
    font-size: 5.5rem;
    color: var(--white-border);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* toute la zone clickable */
    /*border:solid 2px blue;*/
}
/* fait réapparaître le +  en JS*/
.card:hover .card__overlay{
    /*display: block;*/ 
    top:0;
}

/* ******************************** JS  des card des projets *********************************** */
.modal{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 4;  /* *********** voir s'il faut mettre plus   ************* */
    transform: scale(0);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
}

/* pas d'espace entre ces deux class */
.modal.show{
    transform: scale(1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    visibility:visible;
}

.modal__content{
    /*background-color: #fefefe;*/
    background-color:var(--white-color-5);
    opacity: 1;
    height: 100vh;
    padding: 5rem 1rem;
    overflow: auto;
    text-align: left;
}

.modal img{
    display: block;/* rajouter */
    width: 90%;/* rajouter */
    margin: 1.5rem;
    /*padding: auto;*/
    justify-content: center;

}

.modal__title{
    margin: 0 0 2rem;
}

.modal__close{
    position: absolute;
    right: 2rem;
    top: 1rem;
    background: none;
    border: solid 1px var(--white-color-3);
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    font-size: 3.1rem;
    color: var(--white-1);
    cursor: pointer;
}

/* grand écran rajouter */
@media screen and (min-width:750px) {
    .modal__close{
        right: 3rem;
        top: 2rem;
    }

    .modal img{
    margin: 3rem 2rem 1rem 3rem;
    }
}

.modal .grid__item{
    max-width: 100%;
    margin: 0;
    opacity: 1;
    transition: all 1s ease;
    /*border: 2px solid red;*/
}

/* grand écran */
@media screen and (min-width:750px) {
    .modal .grid__item{
        display: block; /* Rajouter */
        max-width: 50%;
    }

    .modal__content{
        padding: 3rem;
    }
}